* {
    font-family: Arial, Helvetica, sans-serif;
}

.my_header {
    background: #D2C790;
}

.head_elements {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap:50px;
}

.logo {
    min-width: 20px;
    max-width: 100px;
}

.searchbar {
    flex-grow: 1;
    min-width: 100px;
    max-width: 1000px;
    height: 50px;
}

.cart_svg {
    min-width: 20px;
    max-width: 100px;
}

.user_svg {
    min-width: 20px;
    max-width: 100px;
}

/* Выпадающий список каталога */
.dropbtn {
    background-color: #D9D9D9;
    padding: 16px;
    min-width: 150px;
    border: none;
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}


.top {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-flow: column wrap;
    font-size: 30px;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


.different_links {
    display: block;
    outline: none;
}
.different_links > a {
    text-decoration: none;
    color: black;
    margin: 10px;
}


.page_name {
    font-size: 30px;
    margin-left: 120px;
    padding-left: 20px;
}

footer {
    background: #D9D9D9;
    font-size: 30px;
}

.footer_items {
    margin: 0px 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 25px;
}

.info > a {
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
}

.social_svg {
    min-width: 40px;
    max-width: 50px;
}

.social {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.payment_svg {
    min-width: 40px;
    max-width: 50px;
}

.payment {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

