* {
    font-family: Arial, Helvetica, sans-serif;
}

head {
    background: #D2C790;
}
a{
    text-decoration: none;
    color: black;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}

.my_header {
    background: #D2C790;
}
.korzina{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head_elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.content{
    overflow: hidden;
}

.logo {
    min-width: 20px;
    max-width: 100px;
}

.searchbar {
    flex-grow: 1;
    height: 50px;
    max-width: 1000px;
}

.cart_svg {
    min-width: 20px;
    max-width: 100px;
}

.user_svg {
    min-width: 20px;
    max-width: 100px;
}

/* Выпадающий список каталога */
.dropbtn {
    background-color: #D9D9D9;
    padding: 16px;
    min-width: 150px;
    border: none;
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}


.top {
    display: flex;
    flex-flow: column wrap;
    font-size: 30px;
    text-decoration: none;
    justify-content: flex-start;
}


.different_links {
    display: block;
    outline: none;
}

.different_links > a {
    text-decoration: none;
    color: black;
    margin: 10px;
}


.page_name {
    font-size: 30px;
}

footer {
    background: #D9D9D9;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
}

.footer_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 20px;
}

.info {
    font-size: 20px;
    display: flex;
    flex-flow:column;
    align-items: flex-start;
    padding-top: 20px;
}

.info > a {
    text-decoration: none;
    color: black;
    margin-bottom: 25px;
}

.social_svg {
    max-width: 20px;
}


.social {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 20px;
}

.payment_svg {
    max-width: 20px;
}

.payment {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
}


.navigation {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

li > a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


.products-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


.products-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.products-element__name {
    margin-bottom: auto;
}

.products-element__img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.products-element__price {

}


.products-element__button {

}
.buy_block{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.paginatedItems {
    position: relative;
}


.pagination > li {
    display: inline-block;
    margin: 0 5px;
}

.pagination-item {
    cursor: pointer;
    padding: 5px 10px;
}

.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    list-style-type: none;
    font-size: 30px;
}

.pagination-active-item {
    color: #BDBDBD;
}

.registration-objects {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.btn-reg {
    margin: 25px;
    width: 200px;
    height: 50px;
}

.back_to_top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #D2C790;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
}

.back_to_top:hover {
    background: #e9ebec;
}

.back_to_top-show {
    display: block;
}
.item_page{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
}

.carousel-item{
    width:250px;
}

.d-block{
    object-fit: fill;
    align-self: center;
    justify-self: center;
    width:80%;
}
#carouselExampleIndicators{
    width: 500px;
    height: 450px;
}
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.cart-products{
    width: 100%;
}
.cart-products-element{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart-products-element > img{
    height: 200px;
}
.cart-prods{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plusminus{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cart-products-info{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.end_buy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#clear{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.burger-check {
    display: none;
}

/* burger menu */
*:before,
*:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
}
.burger {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.burger:after {
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.burger span,
.burger span:before,
.burger span:after {
    position: absolute;
    left: 10px;
    top: 22px;
    width: 40px;
    height: 6px;
    background: #333;
    border-radius: 0.2em;
}
.burger span:before,
.burger span:after {
    content: '';
    left: 0;
}

.burger span:before {
    top: -8px;
}

.burger span:after {
    top: 8px;
}



.burger-check:checked + .burger span {
    height: 0;
    width: 0;
}

.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
    top: 6px;
}
.burger-check:checked + .burger span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

.burger-check:checked + .burger span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}
span.boo {
    width: auto;
    margin-top: 0;
    line-height: 60px;
    height: 0;
    overflow: hidden;
}
#main-nav-test:checked ~ .boo {
    height: 50px;
}

.a-header {
    display: none;
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 0;
    min-height: 50px;
    overflow: hidden;
}

.a-header ul {
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.korzina > span{
    text-decoration: none;
    color: black;
    background: green;
    border-radius: 50%;
font-size: 30px;
}
.contacts{
    font-size: 20px;
}

.a-header ul a {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    line-height: 50px;
    padding: 0 15px;
    text-decoration: none;
    overflow: hidden;
    text-align: left;
}

.a-header ul a:hover,
.a-header ul a:active,
.a-header ul a:focus,
.a-header ul a:visited {
    text-decoration: none;
    background: #fff;
    border-bottom-color: #08c;
}

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked ~ ul a {
    height: 50px;
}

.chat {
    z-index: 99;
    --light-color: #fff;
    height: 420px;
    width: 350px;
    background: var(--light-color);
    position: fixed;
    bottom: 50px;
    right: 10px;
    box-shadow: 0px 0px 15px 0px black;
}
.chat-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: #D2C790;
    color: var(--light-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.chat-header .logo {
    height: 35px;
    width: 35px;
    box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
    height: 100%;
    width: 100%;
}
.chat-header .title {
    padding-left: 10px;
}
.chat-body {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    align-items: flex-end;
    overflow-y: auto;
}
.chat-input {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}
.input-sec {
    flex: 9;
}
.send {
    flex: 1;
    padding-right: 4px;
}
#txtInput {
    line-height: 30px;
    padding: 8px 10px;
    border: none;
    outline: none;
    caret-color: black;
    font-size: 1rem;
    width: 100%;
}

.chatbot-message,
.user-message {
    padding: 8px;
    background: #ccc;
    margin: 5px;
    width: max-content;
    border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
    background: #D2C790;
    color: var(--light-color);
    align-self: flex-start;
    border-radius: 10px 10px 3px 10px;
}

.chat{
    display: none;
}

.openbot{
    position: fixed;
    bottom: 200px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
}

.timer__items {
    display: flex;
    font-size: 48px;
}
.timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}
.aktsii{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales_img > img{
    height: 200px;
}

@media (max-width: 1300px) {
    .a-header{
        display: block;
    }
    .back_to_top{
        padding-top: 20px;
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .top {
        display: none;
    }
    .chat{
        display: none;
    }

    .head_elements{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .user_svg{
        display: none;
    }

    .logo {
        display: none;
        max-height: 45px;
    }

    .payment {
        display: none;
    }

    .contacts {
        display: none;
    }

    .social {
        display: none;
    }

    .footer_items {
        display: flex;
        justify-content: center;
    }

    h2 {
        display: none;
    }

    .navigation {
        display: none;
    }

    .searchbar {
        max-width: 400px;
        height: 20px;
    }

    .cart_svg {
        max-width: 40px;
    }

    .user_svg {
        max-width: 40px;
    }

    .products-container {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .searchbar{
        display: none;
    }
    .item_page{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #carouselExampleIndicators{
        width: 250px
    }
    .openbot{
        display: none;
    }
}
